.input-flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.input-flex-row.input {
    height: 2.7rem;
}

.css-input {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    border: solid 1px #cccccc;
    padding: .75rem;
    font-size: .75rem;
    margin-right: 0.5rem;
}

.css-input-title {
    margin-bottom: .5rem;
}
.bay-amount {
    width: 180px;
    padding-right: 3.2rem;
}
.bay-amount-abs {
    position: absolute;
    /*top: 0;*/
    font-weight: 500;
    left: 8rem;
}
.time-period {
    width: 120px;
    padding-right: 3.5rem;
}
.time-period-abs {
    position: absolute;
    /*top: 0;*/
    font-weight: 500;
    left: 15.2rem;
}
.css-input:focus { outline:none; }

.css-submit {
    position: relative;
    width: 8.5rem;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: .75rem;
    background: #FFD54F;
    border: solid 1px #FFCA28;
    outline: none;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.css-submit-loader {
    position: relative;
    width: 8.5rem;
    height: 100%;
    background: #FFD54F;
    border: solid 1px #FFCA28;
    outline: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.css-submit:hover {
    background: #FFE082;
    text-decoration: none;
    border: solid 1px #FFD54F;
}
.input-error {
    color: #F44336;
    font-size: 0.76rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 1.2rem;
}